<!DOCTYPE html>
<!-- The ng-app is related to a module -->
<html ng-app="fora">
<head>
    <title>Fora by Robusta Code</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <script type="text/javascript" src="javascripts/libs/angular.min.js"></script>

</head>
<!-- The controller is found in the spotted module -->
<body ng-controller="UsersController">

<!-- use ng-click -->
<button>Click me for getting users and admins !!</button>

<div>
    <h1>Users</h1>

    <ul>
        <!-- use ng-repeat | then a directive -->
        <li>Put users here</li>

    </ul>


</div>


<div>

    <h1>Admins</h1>
    <ul>
        <!-- use a filter -->
        <li>Put admins here</li>

    </ul>


</div>

</body>

<script type="text/javascript" src="javascripts/fora.js"></script>
<script type="text/javascript" src="javascripts/controllers.js"></script>
<script type="text/javascript" src="javascripts/filters.js"></script>
<script type="text/javascript" src="javascripts/services.js"></script>
<script type="text/javascript" src="javascripts/directives.js"></script>
</html>