<!DOCTYPE html>
<!-- The ng-app is related to a module -->
<html ng-app="demo">
<head>
    <title>Fora by Robusta Code</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    <script type="text/javascript" src="../javascripts/libs/angular.min.js"></script>

</head>
<!-- The controller is found in the spotted module -->
<body ng-controller="AppCtrl">

<h1>My school is {{school}}</h1>
<input ng-model="school">


<h2>What do you want to do ? </h2>

<label for="place"> Where </label>
<input id="place"  type="checkbox"  ng-model="place" ng-true-value="'School'" ng-false-value="'Home'" >
<br/>


<label for="action"> Eat something</label>
<input id="action"  type="checkbox"  ng-model="action" ng-true-value="'eat'" ng-false-value="'work'" >
<br/>



<p>
Your choice is to go to {{action}} at {{place}}
</p>


</body>

<script type="text/javascript">

    angular.module("demo", [])
            .controller("AppCtrl", function($scope){

                $scope.school="Internationl School of Boston";

            })


</script>
</html>