<!DOCTYPE html>
<!-- The ng-app is related to a module -->
<html ng-app="demo">
<head>
    <title>Fora by Robusta Code</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    <script type="text/javascript" src="../javascripts/libs/angular.min.js"></script>

</head>
<!-- The controller is found in the spotted module -->
<body ng-controller="AppCtrl">

<h1>Here is {{data}}</h1>

<world name="Machine"></world>

</body>

<script type="text/javascript">


    angular.module("demo", [])
            .controller("AppCtrl", function ($scope) {

                $scope.data = "Some data";

            })
            .directive('world', function ( $city) {
                return {
                    restrict: 'E',
                    template: '<div>Hello {{name}}</div>',
                    link: function postLink(scope, element, attrs) {
                        console.log(attrs.name)
                        scope.name = attrs.name;

                        console.log($city.transport())
                    }
                };
            })
            .config(function ($provide) {
                console.log("I'm in the config")
                $provide.factory("$city", function () {
                    return {
                        name: "Paris",
                        transport: function () {
                            return "The city has bus, train, rer, tram, boats, taxis, uber, bike, subway and segway as public transportation"
                        }
                    }
                })
            })


</script>
</html>