<!DOCTYPE html>
<!-- The ng-app is related to a module -->
<html ng-app="demo">
<head>
    <title>Fora by Robusta Code</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    <script type="text/javascript" src="../javascripts/libs/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../javascripts/libs/angular.min.js"></script>


</head>
<!-- The controller is found in the spotted module -->
<body ng-controller="AppCtrl">

<h1>Click me I'm Famo.us</h1>
<img src="http://famo.us/assets/images/iphone-5.png" id="famous" class=".famous" width="100px"/>

<h1>{{data}}</h1>

</body>

<script type="text/javascript">

    var someVariable = "my precious data";

    angular.module("demo", [])
            .controller("AppCtrl", function ($scope) {

                console.log("I'm Rrangulär, and I'm ready")

                /*try this
                 angular.element("#famous").on("click", function(){
                 alert("Hello Famo.us World");
                 })*/
                $scope.data = someVariable

                //1st param : an expression in the context of the scope
                //try "2+2"
                $scope.$watch("data", function (newData, oldData) {
                    console.log("I'm Rrangulär and I've detected a change : " + newData + " compare to : " + oldData)
                })

            })

    $(document).ready(function () {
        console.log("I'm jQuery, and I'm ready")
        $("#famous").on("click", function () {
            //alert("Come into my $World");

            //does $watch notice ?
            someVariable = "Come into my $World"

            //try this

            var scope = angular.element('body').scope()
            console.log (scope.data);

            /*
            scope.data = someVariable;
            scope.apply()
            */

            scope.$apply(function(){
                scope.data = someVariable;
                //using a function allow $digest even with error
            })
            console.log('changing to '+scope.data)

        })
    })
</script>
</html>