<!DOCTYPE html>
<!-- The ng-app is related to a module -->
<html ng-app="demo">
<head>
    <title>Fora by Robusta Code</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    <script type="text/javascript" src="../javascripts/libs/angular.min.js"></script>

</head>
<!-- The controller is found in the spotted module -->
<body ng-controller="AppCtrl">

<input ng-model="data">
<button ng-click="load()">LOAD !!!!</button>
<br/>

{{comment}}


</body>

<script type="text/javascript">

    angular.module("demo", [])
            .controller("AppCtrl", function ($scope, $q) {

                $scope.data = "Some data";
                $scope.comment = "some comment";

                var isNumber = function(num){
                    return ! isNaN(parseInt(num))
                }

                var defer = $q.defer();

                defer.promise.catch(function (error) {
                    alert("catch : " + error)
                    return "youpi"
                }).then(
                        function (x) {
                            console.log("we have " + x)
                            return x*2
                        }, function (error) {
                            alert("then error : " + error)
                            return error
                        }, function (notif) {
                            console.log("it happened : " + notif)
                        }).then(
                        function (x) {
                            console.log("we have " + x)
                            if (x>20){
                                $scope.comment ="Big number !!"
                            }else{
                                $scope.comment = "We have only "+x
                            }
                        }, function (error) {
                            alert("I told you it's an error !!! : " + error)
                        }, function (notif) {
                            console.log("it happened : " + notif)
                        });



    $scope.load = function () {

      if (isNumber($scope.data)){
          defer.resolve($scope.data);
      }else{
          defer.reject("Not a number")
      }


    }

    })


</script>
</html>