<!DOCTYPE html>
<!-- The ng-app is related to a module -->
<html ng-app="demo">
<head>
    <title>Fora by Robusta Code</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    <script type="text/javascript" src="../javascripts/libs/angular.min.js"></script>

</head>
<!-- The controller is found in the spotted module -->
<body ng-controller="AppCtrl">

<h1>Here is {{data}}</h1>

<input ng-model="data">

</body>

<script type="text/javascript">

    angular.module("demo", [])
    .controller("AppCtrl", function($scope){

                $scope.data="Some data";

    })


</script>
</html>