<!DOCTYPE html>
<!-- The ng-app is related to a module -->
<html ng-app="demo">
<head>
    <title>Fora by Robusta Code</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    <script type="text/javascript" src="../javascripts/libs/angular.min.js"></script>

    <style>

        div{
            padding: 5px;;
        }

        .child{
            background-color: lightcyan;

        }
        .app{
            background-color: lightcoral;
        }
        .brother{
            background-color: lightgoldenrodyellow;
        }
    </style>
</head>
<!-- The controller is found in the spotted module -->
<body ng-controller="TopCtrl">

<div class="top">

    <h1>Top</h1>
    <p>Here is {{data}}</p>
    <input ng-model="data">
    <button ng-click="sync()">Sync</button>
</div>


<div ng-controller="ChildCtrl" class="child">

    <h1>Child</h1>
    <p>Here is also the root data : {{data}}</p>
    <p>Here is also the child data : {{childData}}</p>

    <p>
        and here is mine :<input ng-model="childData">
        <button ng-click="up()">Up</button>
    </p>
</div>

<div ng-controller="BrotherCtrl" class="brother">

    <h1>Brother</h1>
    <p>Here is also the brother data : {{data}}</p>
    <p>Here is also the child data : {{childData}}</p>

</div>


<div>
    Let's have fun and rename <strong>childData</strong> by <strong>data</strong>

</div>
</body>

<script type="text/javascript">

    angular.module("demo", [])
            .controller("TopCtrl", function ($scope) {

                $scope.data = "Some data";

                $scope.$on("up", function(event,childData){
                    $scope.data = childData;
                })


            })
            .controller("ChildCtrl", function ($scope) {

                $scope.childData = "Child Data";

                $scope.up = function(){
                    $scope.$emit("up", $scope.childData)
                }


            })
            .controller("BrotherCtrl", function ($scope) {

                //let's work with $rootScope here
            })


</script>
</html>