<!DOCTYPE html>
<!-- The ng-app is related to a module -->
<html ng-app="demo">
<head>
    <title>Fora by Robusta Code</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    <script type="text/javascript" src="../javascripts/libs/angular.min.js"></script>

</head>
<!-- The controller is found in the spotted module -->
<body ng-controller="AppCtrl">

<h1>Here is {{data}}</h1>

<input ng-model="data">

</body>

<script type="text/javascript">

    angular.module("demo", [])
    .controller("AppCtrl", function($scope,forrestService){

        $scope.data="Some data";
        forrestService.storeData($scope.data)
        $scope.data=forrestService.run()
    })
    .factory("forrestService", function(){
        var service = {
            name : "Forrest Gump",
            data : "Hello World",
            run : function(){
                return "let me run faaaast";
            },
            storeData : function(data){
                this.data = data;
            }
        }
        return service;

    })


</script>
</html>