<!DOCTYPE html>
<!-- The ng-app is related to a module -->
<html ng-app="demo">
<head>
    <title>Fora by Robusta Code</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    <script type="text/javascript" src="../javascripts/libs/angular.min.js"></script>

    <style>

        form.ng-valid{
            background-color: lightcyan;
        }
        form.ng-invalid{
            background-color: lightcoral;
        }
        input.ng-valid {
            color:blue;
            border: thin solid darkgreen;
        }
        input.ng-invalid {
            color:red;
            border: medium dashed darkmagenta;
        }
        p {color:blue;}
    </style>
</head>
<!-- The controller is found in the spotted module -->
<body ng-controller="AppCtrl">

<h1>I work with {{data}} smart guys</h1>

<form  class="simple-form">


    <input ng-model="email" type="email" placeholder="enter your smart email"><br/>
    <label for="smart">Are you smart ?</label><input ng-model="smart" type="checkbox" id="smart"><br/>

    <button type="submit">OK</button>
</form>

</body>

<script type="text/javascript">

    angular.module("demo", [])
            .controller("AppCtrl", function($scope){

                $scope.data=5;

            })


</script>
</html>